{% extends "base.html" %}

{% block content %}
<div class="container py-5">
  <h2 class="mb-4">Formulir Pendaftaran Magang</h2>
  <form method="POST" enctype="multipart/form-data">
    
    <div class="mb-3">
      <label for="nama" class="form-label">Nama :</label>
      <input type="text" class="form-control" id="nama" name="nama" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">E-mail :</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="hp" class="form-label">No. Telp :</label>
        <input type="text" class="form-control" id="no_telp" name="hp" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="tgl_mulai" class="form-label">Tanggal Mulai Magang :</label>
        <input type="date" class="form-control" id="tgl_mulai" name="tgl_mulai" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="universitas" class="form-label">Universitas :</label>
        <input type="text" class="form-control" id="universitas" name="universitas" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="tgl_akhir" class="form-label">Tanggal Akhir Magang :</label>
        <input type="date" class="form-control" id="tgl_akhir" name="tgl_akhir" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="surat" class="form-label">Surat Izin Magang (PDF) :</label>
        <input type="file" class="form-control" id="surat" name="surat" accept=".pdf">
      </div>
      <div class="col-md-6 mb-3">
        <label for="proposal" class="form-label">Proposal Magang (PDF) :</label>
        <input type="file" class="form-control" id="proposal" name="proposal" accept=".pdf">
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg mt-3">KIRIM PENDAFTARAN</button>
</form>
</div>
{% endblock %}