{% extends "base.html" %}

{% block content %}
<section class="hero">
  <div class="hero-text">
    <img src="{{url_for('static', filename='icon_pasda.png')}}" alt="Logo Pengadilan Agama Sidoarjo" class="hero-logo">
    <h2>INTERNSHIP</h2>
    <h1>PENGADILAN <br> AGAMA SIDOARJO</h1>
    <p>
      Selamat Datang, <br>
      di Portal Magang Pengadilan Agama Sidoarjo. <br>
      Sistem ini dirancang untuk mempermudah pendaftaran, 
      pemantauan, dan pengelolaan kegiatan magang mahasiswa 
      secara transparan dan efisien.
    </p>
    <div class="mt-4">
      <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg btn-daftar">
        DAFTAR SEKARANG
      </a>
    </div>
  </div>
</section>
{% endblock %}
